.footer-container {
  margin-top: 2rem;
  background: var(--neutral-dark);
}
.footer-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  row-gap: 2rem;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 2rem;
  background: var(--neutral-dark);
}
.footer-middle-container {
  max-width: 900px;
}
.footer-rights {
  font-size: .7rem;
}
.footer-sm-wrapper {
  display: flex;
  column-gap: 1rem;
}
.footer-icon {
  width: 30px;
  height: 30px;
}
.footer-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100px;
  height: 5px;
  margin-inline: auto;
  background: var(--primary-dark);
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .footer-wrapper {
    grid-template-rows: repeat(5, max-content);
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    padding: 2rem 2.5rem;
  }
  .footer-top-container {
    display: flex;
    flex-flow: column wrap;
    row-gap: 2rem;
  }
  .footer-store-title {
    justify-content: flex-start;
  }
  .footer-middle-container {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .footer-rights {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    font-size: .88rem;
  }
  .footer-sm-wrapper {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    justify-self: end;
  }
  .footer-wrapper::before {
    left: 50px;
  }
}
@media screen and (min-width: 1201px) {
  .footer-wrapper {
    grid-template-rows: repeat(5, max-content);
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    padding: 2rem 2.5rem;
  }
  .footer-top-container {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer-store-title {
    justify-content: flex-start;
  }
  .footer-middle-container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .footer-rights {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    font-size: .95rem;
  }
  .footer-sm-wrapper {
    grid-row: 2 / 5;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
  }
  .footer-wrapper::before {
    left: 50px;
  }
}
