.popular-card-wrapper-zx9 {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-top: 2rem;
  padding: 0 1rem;
}
.popular-card-layer-zx9 {
  position: absolute;
  width: calc(100% - 2rem);
  height: 100%;
  background-color: var(--primary-dark);
  border-radius: 8px;
}
.popular-card-layer-zx9::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 60%;
  background: url('assets/icons/icon-pattern-circles.svg') no-repeat;
  background-size: 100% 100%;
}
.popular-card-img-zx9 {
  position: relative;
  width: 70%;
  height: 50%;
  z-index: 10;
}
.popular-card-description-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 1.5rem;
  z-index: 10;
}
.popular-card-zx9-title {
  max-width: 200px;
  margin: 0 auto;
  font-size: 2rem;
}
.popular-card-zx9-description {
  max-width: 280px;
  color: hsl(0, 0%, 90%);
  font-size: .9rem;
}

.popular-card-wrapper-zx7 {
  position: relative;
  width: 100%;
  height: 250px;
  margin-top: 2rem;
  padding-inline: 1rem;
  overflow: hidden;
}
.popular-card-layer-zx7 {
  position: absolute;
  width: calc(100% - 2rem);
  height: 100%;
  background: hsla(0, 0%, 50%, .15);
  border-radius: 8px;
}
.popular-card-zx7-info-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  width: 60%;
  height: 100%;
}
.popular-card-layer-zx7 > img {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
}
.popular-card-zx7-info-wrapper > h4 {
  color: var(--neutral-dark);
  font-size: 1.5rem;
  font-weight: 800;
}
.popular-card-zx7-info-wrapper > button {
  width: 80%;
  padding: .7rem;
  font-weight: 600;
  background: transparent;
}

.yx1-card-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
  width: 100%;
  height: 400px;
  margin-top: 2rem;
  padding-inline: 1rem;
}
.yx1-card-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  row-gap: 1.5rem;
  width: 100%;
  padding: 1.3rem;
  background: hsla(0, 0%, 50%, .15);
  border-radius: 8px;
}
.yx1-card-wrapper > img {
  width: 100%;
  border-radius: 8px;
}
.yx1-card-info > h4 {
  color: var(--neutral-dark);
  font-size: 1.5rem;
  letter-spacing: 1.3px;
}
.yx1-card-info > button {
  width: max-content;
  font-weight: 600;
  background: transparent;
}
