.header-container {
  background-color: var(--neutral-dark);
}
.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-inline: auto;
  padding-inline: 1rem;
}
.store-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: .2px;
}
.menu-icon-container, .cart-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 30.8px;
  height: 100%;
  padding-top: 7px;
}
.menu-icon, .cart-icon {
  width: 30px;
  height: 37px;
}
.cart-icon-container {
  justify-content: center;
}
.cart-counter {
  content: "1";
  position: absolute;
  top: 10px;
  width: 15px;
  height: 15px;
  color: var(--primary-dark);
}
.cart-counter {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .header-store-title {
    justify-content: flex-start;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1201px) {
  .header-wrapper {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    column-gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-inline: 0;
  }
  .header-store-title {
    grid-column: 1 / 2;
  }
  .cart-icon-container {
    grid-column: 6;
    grid-row: 1 / 2;
  }
}
