.product-card-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  max-width: 1260px;
  height: max-content;
  padding: 1rem;
  background-color: transparent;
}
.product-card-img {
  width: 100%;
  max-width: 450px;
  min-height: 300px;
  height: 100%;
  max-height: 450px;
  border-radius: 5px;
}
.product-card-info-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: .9rem;
}
.product-card-description {
  color: var(--neutral-gray-light);
  font-size: .85rem;
  text-align: center;
}
.product-card-name {
  color: var(--neutral-dark);
  font-size: 1.5rem;
}
.product-card-price {
  color: var(--neutral-dark);
  font-weight: bold;
  letter-spacing: 1.5px;
}
.product-card-counter-container {
  display: flex;
  column-gap: 1rem;
}
.product-card-info-wrapper > .new-product {
  font-size: .7rem;
}
.product-card-info-wrapper > .button {
  font-size: .8rem;
}
@media screen and (min-width: 800px) {
  .product-card-container.sell {
    flex-flow: row wrap;
    justify-content: center;
  }
  .product-card-info-wrapper.sell {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .product-card-description.sell {
    text-align: start;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .product-card-img.sell {
    width: 50%;
  }
}
@media screen and (min-width: 1201px) {
  .product-card-container {
    flex-flow: row wrap;
    margin-inline: auto;
    padding: 0;
  }
  .product-card-img {
    width: 100%;
    max-width: 750px;
  }
  .product-card-info-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 30%;
  }
  .product-card-container.even {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .product-card-container.even > .product-card-info-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: flex-end;
    justify-self: end;
    max-width: 378px;
  }
  .product-card-container.even > .product-card-img {
    grid-column: 2 / 3;
  }
}
