.best-gear-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 2rem;
  margin-top: 2rem;
  padding: 1rem 1rem;
}
.best-gear-img {
  width: 100%;
  max-width: 450px;
  height: 300px;
  border-radius: 8px;
}
.best-gear-section-slogan-wrapper {
  display: flex;
  flex-flow: column wrap;
  row-gap: 2rem;
  max-width: 440px;
}
.slogan-title {
  width: 100%;
  color: var(--neutral-dark);
  font-size: 2rem;
  text-align: center;
}
.slogan-title-important-word {
  color: var(--primary-dark);
}
.slogan-para {
  width: 100%;
  color: var(--neutral-gray-light);
  line-height: 25px;
  text-align: center;
}
@media screen and (min-width: 1201px) {
  .best-gear-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 1rem;
  }
  .best-gear-img {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    height: 600px;
    object-position: center;
  }
  .best-gear-section-slogan-wrapper {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    max-width: 500px;
  }
  .slogan-para {
    font-size: 1rem;
    text-align: start;
    line-height: 30px;
  }
}
