@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

:root {
  --primary-dark: hsl(22, 65%, 57%);
  --primary-light: hsl(21, 94%, 75%);
  --neutral-dark-trans: hsla(0, 0%, 0%, 0.25);
  --neutral-dark: hsl(0, 0%, 9%);
  --neutral-light: hsl(0, 0%, 99%);
  --neutral-gray-light: hsl(0, 0%, 50%);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  color: var(--neutral-light);
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
main {
  display: flex;
  flex-flow: column wrap;
  row-gap: 3rem;
  width: 100%;
  min-height: 100vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  background-color: var(--neutral-light);
  border: none;
}
.fw-bold-700 {
  font-weight: 700;
}
.txt-gray-light {
  color: var(--neutral-gray-light);
}
.txt-center {
  text-align: center;
}
.txt-height {
  line-height: 25px;
}
.max-w {
  width: 100%;
  height: 100%;
  max-width: 1260px;
  margin-inline: auto;
}
.first-view-layout {
  display: grid;
  grid-template-rows: 80px 1fr;
  width: 100%;
  height: 100vh;
}
